#sidebar {
  min-width: 300px;
  // max-width: 300px;
  background: #464348;
  height: 100vh;
}

.filter-container {
  padding: 20px;
}

.filter-header {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 160px;
}

// .filter-header > h2 {
//   margin-bottom: 20px;
// }

.filter-header > h3 {
  margin: 0px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 105%;
}

.filter-btn {
  background: purple;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}

.filter-sub-header {
  text-align: center;
  margin: 30px auto;
}

.filter-li {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.filter-li > input, label {
  margin: 0 10px;
}