:root {
  --navbar-color: #3c132d;
  --sidebar-color: #464348;
  --button-color: purple;
  --gray: #464348;
  --index-color: #2d2431;
  
}

#app {
  display: flex;
  flex-direction: row;
}

#sidebar {
  position: fixed;
  margin-left: -300px;
  transition: 0.3s all;
}

.joogle-logo {
  width: 130px;
  text-align: center;
  margin: 10px 30px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
  margin: 30px;
  margin-top: 40px;
}

.navbar-container {
  position: fixed;
}

.overall-container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  width: 100vw
}

.sidebar-container {
  position: fixed;
  overflow-y: scroll;
  background: #31243a;
  width: 300px;
  /* min-height: 100%; */
  top: 150px;
  bottom: 0;
  /* margin-left: -300px; */
}

/* .sidebar-container.active {
  margin-left: 0px;
} */

.search-content-container {
  width: 100%;
  margin-left: 300px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
}

/* .main-content-container.active {
  margin-left: 300px;
} */

.sub-content-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #2d2431;
  /* min-height: 100vh; */
  width: 100%;
}

td {
  text-align: center;
}

.error-list {
  width: 50%;
  text-align: center;
  align-self: center;
  margin: 5px;
  min-height: 20px;
}